# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
          version: "31.0.0"

      - name: "Install Go"
        uses: actions/setup-go@v3
        with:
          go-version: '1.24'

      - name: "Install TinyGo"
        run: |
          wget https://github.com/tinygo-org/tinygo/releases/download/v0.37.0/tinygo_0.37.0_amd64.deb
          sudo dpkg -i tinygo_0.37.0_amd64.deb

      - name: Build
        env:
          ENABLE_WASM_OPT: false
        run: make build

      - name: Test
        run: make test
